USE [master]
GO
/****** Object:  Database [SystemOfCars]    Script Date: 9/23/2026 11:18:17 PM ******/
CREATE DATABASE [SystemOfCars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SystemOfCars', FILENAME = N'H:\SQL1\MSSQL16.SQLEXPRESS\MSSQL\DATA\SystemOfCars.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SystemOfCars_log', FILENAME = N'H:\SQL1\MSSQL16.SQLEXPRESS\MSSQL\DATA\SystemOfCars_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SystemOfCars].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SystemOfCars]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 9/23/2026 11:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [varchar](15) NOT NULL,
	[Name] [varchar](20) NULL,
	[Phone] [varchar](11) NULL,
	[Hours] [varchar](40) NULL,
	[Address] [varchar](40) NULL,
	[Manager] [varchar](20) NULL,
 CONSTRAINT [pk_Branch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 9/23/2026 11:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [varchar](10) NOT NULL,
	[Model] [varchar](30) NULL,
	[Condition] [varchar](15) NULL,
	[Available] [varchar](15) NULL,
	[DueTo] [datetime] NULL,
 CONSTRAINT [pk_Car] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/23/2026 11:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [varchar](10) NOT NULL,
	[NameCus] [varchar](20) NULL,
	[Phone] [varchar](11) NULL,
	[JoinDate] [datetime] NULL,
	[Email] [varchar](40) NULL,
 CONSTRAINT [pk_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 9/23/2026 11:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[Id] [varchar](10) NOT NULL,
	[Name] [varchar](20) NULL,
	[Phone] [varchar](11) NULL,
	[Salary] [money] NULL,
	[Hired] [datetime] NULL,
 CONSTRAINT [pk_Manager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 9/23/2026 11:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Returned] [varchar](50) NULL,
	[Status] [varchar](15) NULL,
	[MODEL] [varchar](30) NULL,
	[CUSID] [varchar](10) NULL,
	[CARID] [varchar](10) NULL,
	[FromDay] [datetime] NULL,
	[ToDay] [datetime] NULL,
	[deff] [int] NULL,
	[Fee] [varchar](20) NULL,
 CONSTRAINT [pk_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT ('Available') FOR [Available]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [fk_Car_Transactions] FOREIGN KEY([CARID])
REFERENCES [dbo].[Cars] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [fk_Car_Transactions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [fk_customer_Transactions] FOREIGN KEY([CUSID])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [fk_customer_Transactions]
GO
USE [master]
GO
